
<script>
   $("script[type='math/tex']").replaceWith(function() {
       var tex = $(this).text();
       return katex.renderToString(tex, {displayMode: false});
   });

   $("script[type='math/tex; mode=display']").replaceWith(function() {
       var tex = $(this).html();
       // replace() here is due to CDATA wrapper (#224). KaTeX chokes on the % character,
       // which is unfortunate (and should probably be reported).
       return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
   });
 </script>
